.profile-page {
  background: rgb(168, 226, 236);
  min-height: 100vh;
  height: 100%;
  padding-top: 4em;
}

.profile-page .profile-container {
  background: #fff;
  padding: 4em;
  border-radius: 2%;
}

.profile-container form .profile-picture-upload {
  display: flex;
  flex-direction: row;
}

.profile-picture-upload img {
  margin-left: 15em;
  justify-self: end;
  width: 30%;
  height: 20em;
  border-radius: 100%;
  object-fit: contain;
}

.profile-container form .profile-submit,
.profile-container .logout,
.profile-container .logout:hover {
  background: black;
  color: white;
}
